#################################################
Hostname = {{ansible_fqdn}} 
Purpose  = {{ansible_hostname}}
Arch     = {{ansible_architecture}} 
OS       = {{ansible_distribution}}
{{sample}}
################################################
